.ordemElementos {
  float: left;
}

.fundoMenu {
  background-color: #323232;
  width: 8%;
  height: 100vh;
  align-items: center;
  display: inline-block;
}

.html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vp;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  border: none;
}

.fundo {
  background-color: #787878;
  text-align: center;
  font-size: 24px;
  color: #fff;
  align-items: center;
  height: 100vh;
  width: 25%;
  margin-top: 0;
  margin-left: 600px;
  margin-bottom: 0;
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #01C5F6, #FD7DFD);
}

.titulo {
  margin-top: 80px;
}

.iconeNome {
  display: inline-block;
  margin: 2px;
}

.input-field input[type=text]:focus+label {
  background: #FFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.input-field input[type=password]:focus+label {
  background: #FFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}

.tamanhoForm {
  margin-left: 60px;
}

.botao {
  text-align: center;
}

.botaoRegistrarse {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background: linear-gradient(to right, #01C5F6 0%, #FD7DFD 100%);
  border-radius: 5px;
  display: inline-block;
  width: auto;
}

.dataCampanha {
  float: left;
}