<div class="ordemElementos fundoMenu">
    <menu-inicio> </menu-inicio>
</div>
<div class="html">
    <div class="fundo border-gradient border-gradient-purple">
        <br /> <br />
        <div>
            <img src="assets/RpgBox.png" width="150" height="130">
        </div>

        <div class="tamanhoForm">
            <form class="col s12" (ngSubmit)="cadastrarUsuario()" [formGroup]="formCadastroUsuario">
                <div class="row">
                    <div class="input-field col s10">
                        <input id="nome" type="text" formControlName="nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="email" type="text" formControlName="email">
                        <label for="email">E-mail</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="senha" type="password" formControlName="senha">
                        <label for="senha">Senha</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="confirmar" type="password" formControlName="confirmaSenha">
                        <label for="confirmar">Confirmar Senha</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <button type="submit" class="waves-effect botaoRegistrarse btn"> Registre-se </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>