<div class="ordemElementos fundoMenu">
    <menu-interno></menu-interno>
</div>
<div class="html">
    <div class="left sticky">
        <img src="assets/iconeAdicionar.png" width="90" height="80" (click)="mostrarFormulario()">
    </div>

    <div class="containerListagemCombate" *ngIf="combatesCampanha.length > 0">
        <h4 class="posicionamentoLabelListagem fonteBranca"> Combates da Campanha </h4> <br />

        <div class="row">
            <p-scrollPanel [style]="{width: '620px', height: '600px'}">
                <div class="col md6">
                    <div class="card horizontal cardListagemCombate" *ngFor="let combate of combatesCampanha">
                        <div class="card-stacked">
                            <div class="card-content">
                                <label class="fonteBranca"> Criado em: </label>
                                <p class="fonteBranca"> {{combate.dtCombate}} </p> <br /> <br />
                                <p class="fonteBranca tituloCombate"> {{combate.tituloCombate}}
                                    <label class="right iconesEdicao" pTooltip="Editar Combate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>

                                    </label>

                                    <label pTooltip="Excluir Combate" class="right iconesEdicao"
                                        (click)="excluirCombate(combate.sqCombate)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </label>
                                </p> <br /> <br />
                                <div *ngIf="combate.statusCombate != 'Finalizado' ">
                                    <label class="labelStatus fonteBranca"> {{combate.statusCombate}} </label> <button
                                        class="btn botaoDetalhes right">
                                        Iniciar
                                        <img src="assets/detalharCampanha.png" width="20" height="20" class="iconeBotao"
                                            (click)="confirm(combate.sqCombate)">
                                    </button>
                                </div>

                                <div *ngIf="combate.statusCombate == 'Finalizado' ">
                                    <label class="labelStatus fonteBranca"> {{combate.statusCombate}} </label>

                                    <label pTooltip="Logs do Combate" class="fonteBranca iconesLog right"
                                        (click)="mostrarModalLog(combate.resumoCombate.resumoCombate)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                                            <path
                                                d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                                            <path
                                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                                        </svg> </label>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
    </div>

    <div class="labelInicial" *ngIf="displayLabel == true">
        <h5> Cadastre um Combate </h5>
    </div>

    <div class="col-2 bloco" *ngIf="displayLabel == false">
        <p-divider layout="vertical">

        </p-divider>
    </div>

    <div class="containerForm" *ngIf="displayFormulario == true">
        <div class="formularioCadastro">
            <div class="row">
                <div clas="col md10">
                    <h4 class="posicionamentoLabelCadastro"> Cadastro de combate </h4>
                </div>
            </div>
            <div class="row">
                <div class="col md 12">
                    <form [formGroup]="formCadastroCombate">
                        <div class="input-field tamanhoForm">
                            <input id="#nome" type="text" formControlName="tituloCombate">
                            <label for="nome"> Título do combate </label>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col md12">
                    <p-pickList [source]="personagensDaCampanha" [target]="personagensSelecionados"
                        sourceHeader="Personagens da campanha" targetHeader="Personagens no combate" [dragdrop]="true"
                        [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
                        filterBy="name" sourceFilterPlaceholder="Search by name"
                        targetFilterPlaceholder="Search by name">
                        <ng-template let-product pTemplate="item">
                            <div class="product-item">
                                <div class="product-list-detail">
                                    <div class="col md6">
                                        <img src="data:image/jpeg;base64,{{product.imagemPersonagem}}" width="60"
                                            height="60" class="shadow-2" class="imagemPersonagens bloco espacamento" />
                                    </div>
                                    <h5 class="mb-2">{{product.nomePersonagem}}</h5>
                                </div>

                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>
            <br />
            <div class="row">
                <button class=" btn waves-effect waves-light red botaoDetalhes" type="button"
                    (click)="cadastrarCombate()">
                    Cadastrar <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-check iconeBotao" viewBox="0 0 16 16">
                        <path
                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

    <p-dialog header="Logs do Combate" [(visible)]="displayModalLog" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">
        <p class="m-0">

        <div>
            <div class="containerTurno" *ngFor="let log of turnosDoCombate">
                <h5 class="modalTurnos"> Turno {{log.numeroTurno}} </h5> <br />

                <div class="containerPersonagensDoTurno" *ngFor="let acao of log.acoesDoTurno">
                    <br />
                    <div class="row">
                        <div class="col md5 primeiroNomePersonagemLog">

                            <p> {{acao!.personagemQueUtilizou.nomePersonagem}} </p>
                        </div>

                        <div class="col md2">
                            <img src="../assets/LoginIcon.png" width="50px" height="50px">
                        </div>

                        <div class="col md5 segundoNomePersonagemLog">
                            <p> {{acao!.personagemAlvo.nomePersonagem}} </p>
                        </div>

                    </div>

                    <div class="containerHabilidadesLog">
                        <div class="row">
                            <div class="col md12 habilidadeUtilizada">
                                <p> Habilidade: {{acao!.habilidadeUtilizada.nomeHabilidade}} </p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="containerDescricaoHabilidadeModal">
                                <div class="col md6">
                                    <p-scrollPanel [style]="{width: '230px', height: '40px'}">
                                        <label class="fonteDescricaoHabilidade">
                                            {{acao!.habilidadeUtilizada.descricaoHabilidade}}
                                        </label>
                                    </p-scrollPanel>
                                </div>
                            </div>

                            <!-- <div class="containerDescricaoHabilidadeModal">
                                <p-scrollPanel [style]="{width: '230px', height: '40px'}">
                                    <label class="fonteDescricaoHabilidade">
                                        {{acao!.habilidadeUtilizada.descricaoHabilidade}}
                                    </label>
                                </p-scrollPanel>
                            </div> -->

                        </div>
                        <div class="row">

                            <div class="containerDano">
                                <div class="row">
                                    <div class="col md12">
                                        Dano causado
                                    </div>
                                </div>
                                <div class=row>
                                    <p class="danoCausadoModal"> {{acao!.danoCausado}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="divisaoAcoes">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </p-dialog>


</div>