<div>
    <img src="assets/RpgBox.png" height="100" width="120" class="logo">

    <ul class="lista fonte">
        <li class="img">
            <img src="assets/InicioIcon.png" width="60" height="50" class="icone">
        </li>
        <li class="item">
            <label class="label" routerLink="/index"> Início </label>
        </li>
        <li class="img">
            <img src="assets/rolagem-dados.png" width="65" height="60" class="icone">
        </li>
        <li class="item">
            <label class="label-dados" (click)="visibleSidebar1 = true"> Rolar dados </label>
        </li>
        <div *ngIf="isCampanhaSelecionada == true">
            <li class="img-campanha">
                <img src="assets/campanhas.png" width="60" height="60" class="icone">
            </li>
            <li class="item">
                <p-megaMenu [model]="items" orientation="vertical" styleClass="campanha"></p-megaMenu>
            </li>
        </div>

        <li class="img-campanha">
            <img src="assets/configuracoes.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label class="labelCampanha"> Configurações </label>
        </li>

        <li class="img-campanha">
            <img src="assets/sair.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label class="label-sair" (click)="deslogarUsuario()"> Sair </label>
        </li>
    </ul>
</div>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [style]="{width:'30em'}">
    <h5>Rolar Dados</h5>
</p-sidebar>