<div>
    <img src="assets/RpgBox.png" height="100" width="120" class="logo">

    <ul class="lista fonte">
        <li class="img">
            <img src="assets/InicioIcon.png" width="60" height="50" class="icone">
        </li>
        <li class="item">
            <label class="label" routerLink="/index"> Início </label>
        </li>
        <li class="img">
            <img src="assets/rolagem-dados.png" width="65" height="60" class="icone">
        </li>
        <li class="item">
            <label class="label-dados"> Rolar dados </label>
        </li>
        <div *ngIf="isCampanhaSelecionada == true">
            <li class="img-campanha">
                <img src="assets/campanhas.png" width="60" height="60" class="icone">
            </li>
            <li class="item">
                <label class="labelCampanha"> Campanha </label> <svg xmlns="http://www.w3.org/2000/svg" width="25"
                    height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </li>
        </div>

        <li class="img-campanha">
            <img src="assets/configuracoes.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label class="labelCampanha"> Configurações </label>
        </li>

        <li class="img-campanha">
            <img src="assets/sair.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label class="label-sair" (click)="deslogarUsuario()"> Sair </label>
        </li>
    </ul>
</div>