.fundo {
    background-color: #323232;
    width: 8%;
    height: 100vh;
    align-items: center;
    display: inline-block;
}

.lista {
    list-style: none;
}

.fonte {
    color: #FFF;
}

.item {
    border-bottom: 2px solid #FFF;
    align-items: center;
    text-align: center;
    width: 60%;
    display: flex;
    margin-left: 30px;
}

.texto {
    display: block;
}

.icone {
    padding-bottom: 5px;
    align-items: center;
    margin: 10px;
}

.logo {
    margin: 12px;
}

li>label:hover {
    background: linear-gradient(to right, #01C5F6 0%, #FD7DFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.label {
    margin-left: 30px;
    font-size: 16px;
}

.label-sair {
    margin-left: 35px;
    font-size: 16px;
}

.labelCampanha {
    margin-left: 5px;
    font-size: 14px;
}

.label-dados {
    margin-left: 10px;
    font-size: 16px;
}

.img {
    margin-left: 35px;
}

.img-campanha {
    margin-left: 40px;
}

.labelCadastro {
    margin-left: 15px;
    font-size: 14px;
}

:host ::ng-deep .campanha {
    background-color: #323232;
    border: none;
    width: auto;
    text-decoration: none;
    color: #323232;
    outline: 0 none;
    outline-offset: 0;
    background: #323232;
    border-radius: 0;
    padding: 0px;
    margin: 0px;
}

:host ::ng-deep .p-megamenu-col-12 {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #01C5F6, #FD7DFD);
    border-radius: 5px;
    background-color: #323232;
    background: #323232;
    color: #323232;
}

:host ::ng-deep .p-megamenu-submenu-header {
    margin: 0px;
    padding: 0px;
}

:host ::ng-deep .p-menuitem-link {
    font-size: 16px;
}

div.item-dados {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 80px;
}

.caption {
    display: block;
}

.item-dados:hover {
    background: linear-gradient(to right, #01C5F6 0%, #FD7DFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.segundaLinhaDados {
    margin-left: 50px;
}

.botaoDetalhes {
    background: linear-gradient(to right, #01C5F6 0%, #FD7DFD 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 125px;
}

.labelRolagem {
    font-size: 16px;
}

.labelTituloTotalizador {
    margin-left: 160px;
}

.resultadosDaJogada {
    font-size: 16px;
    display: inline-block;
}

.resultadoMaximo {
    color: #FAFF00;
}

.reiniciar {
    margin-left: 140px;
}