<div>
    <img src="assets/RpgBox.png" height="100" width="120" class="logo">

    <ul class="lista fonte">
        <li class="img">
            <img src="assets/InicioIcon.png" width="60" height="50" class="icone">
        </li>
        <li class="item">
            <label class="label" routerLink=""> Início </label>
        </li>
        <li class="img">
            <img src="assets/LoginIcon.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label class="label" routerLink="/login"> Login </label>
        </li>
        <li class="img">
            <img src="assets/CadastreseIcon.png" width="60" height="60" class="icone">
        </li>
        <li class="item">
            <label routerLink="/cadastrar" class="labelCadastro"> Cadastre-se </label>
        </li>
    </ul>
</div>