<div class="ordemElementos fundoMenu">
    <menu-interno></menu-interno>
</div>
<div class="html">
    <div class="left sticky">
        <img src="assets/iconeAdicionar.png" width="90" height="80" (click)="mostrarFormulario(1, null)">
    </div>

    <div class="col-2 bloco">
        <p-divider layout="vertical">

        </p-divider>
    </div>

    <div class="containerListagemCombate" *ngIf="listaDeAnotacoes.length > 0">
        <h4 class="posicionamentoLabelListagem fonteBranca"> Anotações da Campanha </h4> <br />

        <div class="row">
            <p-scrollPanel [style]="{width: '620px', height: '600px'}">
                <div class="col md6">
                    <div class="card horizontal cardListagemCombate" *ngFor="let anotacao of listaDeAnotacoes">
                        <div class="card-stacked">
                            <div class="card-content">
                                <label class="fontePreta"> Criada em: </label>
                                <p> {{anotacao.dataAnotacao}} </p> <br />
                                <label class="fontePreta"> Número da anotação </label>
                                <p class="tituloCombate"> {{anotacao.sqAnotacao}}
                                    <label class="right iconesEdicao fontePreta" pTooltip="Editar Anotação"
                                        (click)="mostrarFormulario(2, anotacao)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>

                                    </label>

                                    <label pTooltip="Excluir Anotação" class="right iconesEdicao fontePreta"
                                        (click)="excluirCombate(anotacao.sqAnotacao)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </label>
                                </p> <br />
                                <p class="tituloCombate"> {{anotacao.descricaoAnotacao}}
                            </div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
        </div>
    </div>

    <div class="containerForm" *ngIf="displayFormulario == true">
        <div class="formularioCadastro">
            <div class="row">
                <div clas="col md10">
                    <h4 class="posicionamentoLabelCadastro"> {{tituloForm}} </h4>
                </div>
            </div>
            <div class="row">
                <div class="col md 12">
                    <form>
                        <div class="input-field corFonte">
                            <p for="textarea1" class="fonteBranca">Descrição da Anotação</p>
                            <textarea [rows]="10" [cols]="80" pInputTextarea [autoResize]="true" [(ngModel)]="descricao"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </div>

                        <br />
                        <button class=" btn waves-effect waves-light red botaoDetalhes right" type="button"
                            (click)="enviarAnotacao()">
                            OK <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-check iconeBotao" viewBox="0 0 16 16">
                                <path
                                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>