.ordemElementos {
    float: left;
}

.fundoMenu {
    background-color: #323232;
    width: 8%;
    height: 100vh;
    align-items: center;
    display: inline-block;
}

.html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vp;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    border: none;
}

.posicionamentoListaPersonagens {
    margin-top: 100px;
    margin-left: 200px;
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: #4D4D4D;
    background: #4D4D4D;
    border: none;
    width: 30vw;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: #4D4D4D;
    background: #4D4D4D;
    border: none;
    width: 30vw;
    font-size: 24px;
}

:host ::ng-deep .p-accordion .p-accordion-content {
    background-color: #4D4D4D;
    background: #4D4D4D;
    border: none;
    width: 30vw;
}

.espacamentoAccordion {
    margin-top: 50px;
}

.imagemPersonagens {
    border-radius: 50%;
}

.bloco {
    display: inline-block;
}

.espacamento {
    margin: 10px;
}

.alinhamento {
    display: flex;
    align-items: center;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

img {
    width: 100px;
    height: 100px;
}

.caption {
    display: block;
}

.bordaImagem {
    border-radius: 50%;
    background:
        linear-gradient(#4d4d4d, #4d4d4d) padding-box,
        linear-gradient(to left, #01C5F6, #FD7DFD) border-box;
}

:host ::ng-deep .p-divider-vertical:before {
    position: fixed;
    display: block;
    top: 250px;
    left: 56vw;
    height: 60vh;
    content: "";
}

:host ::ng-deep.p-divider.p-divider-vertical:before {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #01C5F6, #FD7DFD);
    border-radius: 5px;
    background-color: #323232;
}

.corFonte {
    color: #fff;
}

form {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.input-file {
    width: 38%;
    margin-left: -130px;
    display: none;
}


.label-image {
    cursor: pointer;
    padding: 65px 65px;
    color: #fff;
    border: 2px solid #0000;
    border-radius: 50%;
    background:
        linear-gradient(#4d4d4d, #4d4d4d) padding-box,
        linear-gradient(to left, #01C5F6, #FD7DFD) border-box;

}

.posicionamentoForm {
    margin-top: 220px;
    margin-left: 150px;
    position: absolute;
}

.informacoesPersonagem {
    width: 60%;
    margin-left: 250px;
    margin-top: -130px;
}

.input-field input[type=text]:focus+label {
    background: #FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
}

:host ::ng-deep .p-dropdown {
    background-color: #323232;
    color: #fff;
    width: 100%;
}

:host ::ng-deep .p-dropdown-label {
    background-color: #323232;
    color: #fff;
    width: 100%;
}

:host ::ng-deep .p-dropdown {
    color: #fff;
}

:host ::ng-deep .p-dropdown-trigger {
    color: #fff;
}

:host ::ng-deep .p-dropdown-items {
    background-color: #323232;
    color: #fff;
}

:host ::ng-deep .ng-star-inserted {
    color: #fff;
}

.vidaENivel {
    margin-top: -220px;
    position: absolute;
    width: 25%;
}

.tiposDePersonagens {
    position: relative;
}

.container-habilidade {

    border-radius: 10px;
    padding: 15px;
}

.posicaoBotaoAdicionarHabilidade {
    color: #fff;
    margin-right: 5px;
}

.botaoDetalhes {
    float: right;
    background: linear-gradient(to right, #01C5F6 0%, #FD7DFD 100%);
    border-radius: 5px;
}

.sticky {
    position: fixed;
    top: 20px;
    left: 200px;
}