<div class="ordemElementos fundoMenu">
    <menu-interno></menu-interno>
</div>
<div class="html">

    <div class="conteudo">
        <br /> <br />
        <p-timeline [value]="historicoCampanha" align="alternate" styleClass="customized-timeline">
            <!-- <ng-template pTemplate="marker" let-event>
                <div *ngIf="event.personagem != null">
                    <span class="custom-marker shadow-2">
                        <i [ngClass]="iconAdicaoUsuario" styleClass="p-timeline-event-marker"></i>
                    </span>
                </div>
            </ng-template> -->
            <ng-template pTemplate="content" let-event>
                <p-card [header]="event.descricaoEventoCampanha" [subheader]="event.dataEvento">
                    <div *ngIf="event.personagem != null">
                        <div class="row">
                            <div class="col md6">
                                <img *ngIf="event.personagem.imagemPersonagem != null"
                                    src="data:image/jpeg;base64,{{event.personagem.imagemPersonagem}}"
                                    [alt]="event.name" width="120" height="120" class="shadow-2"
                                    class="imagemPersonagens bloco espacamento" />
                            </div>
                            <div class="col md6 espacamento">
                                <div class="bloco espacamento">

                                    <h5 class="infoPersonagem"> Nome </h5>
                                    <p> {{event.personagem.nomePersonagem}} </p>

                                    <h5 class="infoPersonagem"> Classe</h5>
                                    <p> {{event.personagem.classePersonagem}} </p>

                                </div>

                                <div class="bloco espacamento">

                                    <h5 class="infoPersonagem"> Raça </h5>
                                    <p> {{event.personagem.racaPersonagem}} </p>

                                    <h5 class="infoPersonagem"> Tipo do Personagem </h5>
                                    <p> {{event.personagem.tipoPersonagem}} </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="event.anotacao != null">
                        <div class="row">

                            <div class="col md6 espacamento">
                                <div class="bloco espacamento">

                                    <h5 class="infoPersonagem"> Código </h5>
                                    <p> {{event.anotacao.sqAnotacao}} </p>

                                    <h5 class="infoPersonagem"> Descrição </h5>
                                    <p> {{event.anotacao.descricaoAnotacao}} </p>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div *ngIf="event.combate != null">
                        <div class="row">

                            <div class="col md6 espacamento">
                                <div class="bloco espacamento">
                                    <h5 class="infoPersonagem"> Código </h5>
                                    <p> {{event.combate.sqCombate}} </p>

                                    <h5 class="infoPersonagem"> Título do Combate </h5>
                                    <p> {{event.combate.tituloCombate}} </p>
                                </div>

                                <div class="bloco espacamento">
                                    <div class="containerCombate">
                                        <h5 class="infoPersonagem"> Status </h5>
                                        <p> {{event.combate.statusCombate}} </p>

                                        <h5 class="infoPersonagem" (click)="mostrarModalParticipantesCombate()">
                                            Participantes </h5>
                                        <p-scrollPanel [style]="{width: '320px', height: '80px'}">
                                            <div class="containerImagensPersonagemCombate">
                                                <img *ngFor="let pers of event.combate.personagensDoCombate"
                                                    src="data:image/jpeg;base64,{{pers.personagem.imagemPersonagem}}"
                                                    [alt]="event.name" width="60" height="60" class="shadow-2"
                                                    class="imagemPersonagensCombate bloco"
                                                    pTooltip="{{pers.personagem.nomePersonagem}}" />
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </ng-template>
        </p-timeline>
    </div>

    <br /> <br />
</div>