.ordemElementos {
    float: left;
}

.fundoMenu {
    background-color: #323232;
    width: 8%;
    height: 100vh;
    align-items: center;
    display: inline-block;
}

.html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vp;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    border: none;
    scroll-behavior: smooth;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

.conteudo {
    width: 70%vh;
}

.imagemPersonagens {
    border-radius: 50%;
}

.bloco {
    display: inline-block;
}

.espacamento {
    margin-left: 35px;
    margin-right: 35px;
}

:host ::ng-deep .p-timeline-event-marker {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
}

:host ::ng-deep .p-timeline-event-connector {
    background-color: #fff;
}

:host ::ng-deep .p-card-body {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #01C5F6, #FD7DFD);
    border-radius: 5px;
    background-color: #323232;
}

.infoPersonagem {
    font-size: 20px;
}

.imagemPersonagensCombate {
    border-radius: 50%;
    margin: 5px;
}

.containerImagensPersonagemCombate {
    width: 300px;
}

.containerCombate {
    position: absolute;
    margin-top: -145px;
}